.text-center{
    text-align: center;
}
.font{
    font-size: 22px;
    margin: 0;
    margin-bottom: 5px;
}
.pf{
    font-size: 16px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: lightgray;
}
.text-left {
    float: right;
}
.m1{
    margin: 0;
}
.m2
{
    margin-bottom: 5px;
}
li{
    margin: 0;
    margin-bottom: 5px;
}
.tr-row{
    background-color: aqua;
}